<!DOCTYPE html>
<html>
<head>
    <title>Tiger Detection Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">
    <div class="login-card">
        <h1>Tiger Detection System</h1>
        <p>Login to continue</p>
        <input id="username" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
        <button onclick="login()">Login</button>
        <p>New user? <a href="/signup-page">Create account</a></p>
        <p id="msg"></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
